[Unit]
Description=WiFi Connect Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/thinh/pi-wifi-connect/wifi-connect-wrapper.sh
WorkingDirectory=/home/thinh/pi-wifi-connect
Restart=always
User=thinh

[Install]
WantedBy=multi-user.target
